<html>
  <body>
    <h1>New message form</h1>
    <form method="POST" action="/new">
      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" autofocus />
      </div>
      <div>
        <label for="message">Message: </label>
        <input type="text" id="message" name="message" />
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
