<html>
  <body>
    <% messages.forEach(message => { %>
    <p>
      <span><%= message.username %>: </span>
      <span><%= message.message%></span>
      <span>
        <a href="/<%= message.id %>">
          <button>info</button>
        </a>
      </span>
    </p>
    <% }) %>
    <a href="/new">
      <button>New Message</button>
    </a>
    <form method="GET" action="/delete">
      <button type="submit">Delete Messages</button>
    </form>
  </body>
</html>
